.randomClass0 {
    background-color: black;
}
.randomClass1 {
    background-color: red;
}
.randomClass2 {
    background-color: gold;
}
.randomClass3 {
    background-color: brown;
}
.randomClass4 {
    background-color: navy;
}
.randomClass5 {
    background-color: steelblue;
}
.randomClass6 {
    background-color: blueviolet;
}
.randomClass7 {
    background-color: antiquewhite;
}
.randomClass8 {
    background-color: aqua;
}
.randomClass9 {
    background-color: chartreuse;
}
.randomClass10 {
    background-color: floralwhite;
}
.randomClass11 {
    background-color: palevioletred;
}