* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#application h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    transition: all .7s;
}

nav {
    margin-bottom: 4em;
}

.hidden {
    opacity: 0;
}

h1 {
    color: #005ff9;
    font-family: Helvetica, sans-serif;
}

a, input {
    display: block;
}